*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    
    background-color: #134E5E;

}
section.wrapper{
    display: flex;
}

section>h1.mainTitle{
    color: white;
    text-transform: uppercase;
    font-size: 3.4rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
section.mainElements{
    position: relative;
    background-color: #f4FBF4;
    width: 80%;
    border-radius: 20px;
    height: 96vh;
    margin: 2vh 2vh 2vh 0;
}

section.mainElements>h1{
    position: absolute;
    top:25px;
    left: 45px;
    text-transform: uppercase;
    color: #134E5E;
    font-size: 2.8rem;
}
/* ---- Project Description card ------------ */
section.mainElements>div.projectDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:100px;
    left: 45px;
    background-color: white;
    width: 636px;
    height: 255px;
    border-radius: 20px;
}
section.mainElements>div.projectDescription>h1{
    color: #134E5E;
    text-transform: uppercase;
    font-size: 2.1rem;
    margin-top: 50px;
}
section.mainElements>div.projectDescription>p{
    text-align: justify;
    color: #134E5E;
    font-size: 1.6rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}


/* -------- Authors card --------------------------  */

section.mainElements>div.Authors{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top:400px;
    left: 45px;
    background-color: white;
    width: 636px;
    height: 255px;
    border-radius: 20px;
}

section.mainElements>div.Authors>h1{
    color: #134E5E;
    text-transform: uppercase;
    font-size: 2.1rem;
    margin-top: 50px;
}


/* -------------- NAVIGATION STYLE -------------------- */

section.containerWithNavigation{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    justify-content: flex-start;
}

section.containerWithNavigation>nav>ul.navigation{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}
section.containerWithNavigation>nav>ul.navigation>li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
section.containerWithNavigation>nav>ul.navigation>li>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    background-color: rgba(100, 100, 100, 0.7);
}
section.containerWithNavigation>nav>ul.navigation>li>div>img{
    width: 21px;
}

section.containerWithNavigation>div.logUnderMainTitle{
    display: block;
    background-color: white;
    height: 2px;
    width: 75%;
    border: 2px;
    margin-top: 15px;
}

section.containerWithNavigation>h2.navigationTitle{
    text-transform: uppercase;
    color: white;
    opacity: 40%;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

section.containerWithNavigation>nav>ul.navigation>li>a{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 1px;
}
